<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title%></title>
    <link rel="icon" href="../../favicon.ico">
    <link href="../../assets/styles/vendor-9.ac6d5e8379cab5f01053.css" rel="stylesheet">
  </head>
  <body>
    <div class="totonoo--layout">
      <%- include(`${path}/components/header.ejs`, {
        navCurrent: 0
      }) %>
      <div class="totonoo--main-box">
        <%- include(`${path}/components/aside.ejs`, {
          categories: aside.categories,
          tags: aside.tags
        }) %>
        <main class="totonoo--main">
          <article class="totonoo--article">
            <div class="totonoo--article-title">
              <%- data.body %>
            </div>
            <div class="totonoo--article-related">
              <ul>
                <li>
                  <a href="#"><i class="iconfont icon-direction-left"></i> css基本概念学习</a>
                </li>
                <li>
                  <a href="#">css基本概念学习 <i class="iconfont icon-direction-right"></i></a>
                </li>
              </ul>
            </div>
          </article>
        </main>
      </div>
      <%- include(`${path}/components/footer.ejs`) %>
      <script src="../../assets/scripts/vendor-ac6d5e8379cab5f01053.js"></script>
      <script src="../../assets/scripts/detail-ac6d5e8379cab5f01053.js"></script>
    </div>
  </body>
</html>
