<!DOCTYPE html>
<html>
  <%- include(`${path}/components/head.ejs`, head) %>
  <body>
    <div class="totonoo--layout">
      <%- include(`${path}/components/header.ejs`, header) %>
      <div class="totonoo--main-box">
        <%- include(`${path}/components/aside.ejs`, {
          ...aside,
          host
        }) %>
        <main class="totonoo--main">
          <div class="totonoo--post-list">
            <%
            const list = main || []
            list.forEach(item => {
            %>
            <div class="item">
              <h3 class="title">
                <a href="/detail.html"><%= item.title %></a>
              </h3>
              <p class="desc"><%= item.desc %>...</p>
              <div class="info">
                <ul>
                  <li><i class="iconfont icon-folder-close"></i><a href="<%= item.path %>"><%= item.pathTitle %></a></li>
                  <li><i class="iconfont icon-time"></i><%= moment(item.publishDate).format('YYYY-MM-DD HH:mm:ss') %></li>
                  <li>
                    <i class="iconfont icon-discount"></i>
                    <%
                    const tags = item.keywords || []
                    tags.forEach(tag => {
                    %>
                    <a href="/tags.html?tag=<%= tag%>"><%= tag %></a>
                    <% 
                    })
                    %>
                  </li>
                </ul>
              </div>
            </div>
            <% 
            })
            %>
          </div>
          <button class="totonoo--button-primary totonoo--button-block totonoo--ripple">载入更多</button>
        </main>
      </div>
      <%- include(`${path}/components/footer.ejs`, footer) %>
    </div>
    <%- include(`${path}/components/scripts.ejs`, scripts) %>
  </body>
</html>
