<!DOCTYPE html>
<html>
  <head>
    <title><%- `\<\%= htmlWebpackPlugin.options.title \%\>` -%></title>
  </head>
  <body>
    <div class="totonoo--layout">
      <%- include('../../components/header.ejs', {
        navCurrent: 1
      }) %>
      <div class="totonoo--main-box">
        <%- include('../../components/aside.ejs') %>
        <main class="totonoo--main">
          <div class="totonoo--post-list">
            <%- include('../../components/articleList.ejs') %>
          </div>
          <button class="totonoo--button-primary totonoo--button-block totonoo--ripple">载入更多</button>
        </main>
      </div>
      <%- include('../../components/footer.ejs') %>
    </div>
  </body>
</html>
