<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- `\<\%= htmlWebpackPlugin.options.title \%\>` -%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  </head>
  <body>
    <div class="totonoo--layout totonoo--tags">
      <%- include('../../components/header.ejs', {
        navCurrent: 2
      }) %>
      <div class="totonoo--main-box">
        <div class="totonoo--main-scroll">
          <div class="tags-list">
            <%
            const generateRandomRange = (lowerVal, upperVal) => {
              const choices = upperVal - lowerVal + 1
              return Math.floor(Math.random() * choices + lowerVal)
            }
            const tags = '我与父亲不相见已二年余了我最不能忘记的是他的背影那年冬天祖母死了父亲的差使也交卸了正是祸不单行的日子我从北京到徐州打算跟着父亲奔丧回家到徐州见着父亲看见满院狼藉的东西又想起祖母不禁簌簌地流下眼泪父亲说事已如此不必难过好在天无绝人之路'
            for(let i in tags) {
            %>
              <a href="search.html?keyword=<%= tags[i] %>" class="bg-<%= generateRandomRange(1, 12) %>"><%= tags[i] %></a>
            <%
            }
            %>
          </div>
          <%- include('../../components/footer.ejs') %>
        </div>
      </div>
    </div>
  </body>
</html>
